{% extends "mysite/base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'register/css/forget_password.css' %}">
{% endblock %}

{% block container %}
<div class="card">
    <div class="card-body">
        <p>
            パスワード再設定用のメールを送信しました。<br>
            メールに記載されているリンクから再設定を行ってください。
        </p>
        <p>※メールが届が届いていない場合は、入力したメールアドレスと登録時のメールアドレスが異なっている可能性が考えられます。<br>
            戻って再度メールアドレスを入力しなおしてください。
        </p>
        <button type="button" onclick="history.back()" class="btn btn-success btn-lg btn-block">戻る</button>
    </div>
</div>
{% endblock %}